.css-vj1n65-MuiGrid-root{
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
}


.logo{
    background-image: url(https://i.imgur.com/CKzhFwT.png) !important; ;
    background-repeat: no-repeat!important; 
    width: 600px!important; 
    height: 400px!important; 
    justify-content: center!important; 
    align-items: center !important;    background-size: contain !important;

}

.sobre{

    width: 100% !important;
    display: flex;
    flex-wrap: wrap;

}

.textosobre{
    width: 600px !important; 
    padding: 20px !important; 
    background-color: rgba(255, 255, 255, 0.609) !important;
    font-weight: bold !important; 
    text-align: justify !important; 
    font-size: 20px;

}
.textocontato{

   
    font-size: 20px;
}
.gridTextoCont{
    text-align: center;
}
.display{
    display: flex !important;
    flex-direction: row !important;
}
.redes{
    height: 60px;
    margin: 0 20px;
}
