.sobre{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo{
    background-image: url(https://i.imgur.com/H7kuRU8.png);
    background-repeat: no-repeat;
    width: 400px;
    min-height: 400px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-size: cover;
}
