.css-vj1n65-MuiGrid-root{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}


.logo{
    background-image: url(https://i.imgur.com/CKzhFwT.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-size: contain;

}

.sobre{

    width: 100% !important;
    display: flex;
    flex-wrap: wrap;

}

.textosobre{
    width: 400px;
    padding: 20px;
    /*font-style: normal;*/
    font-weight: bold;
    text-align: justify;
    

}
