.cursor{
    cursor: pointer;
    color: white;
}
.text-decoration-none{
    text-decoration: none;
}

.botao2{
    color: white;
}
.MuiAppBar-colorPrimary{
    /* background-image: linear-gradient(to right, #86eae3, grey); */
    background-color: #386641!important;

    }