.titulo{
    font-weight: bold;
 }
 .appbar{
background-color: #3d8f03;
 

 }
.texttabpost{
   color: white;
   font-weight: bold !important;
   opacity: 1 !important; 
}
.texttabpost:hover{
   font-weight: bold; 
   box-shadow: inset 0 0 0 3em #3d8f03 !important;
   padding: 10px 20px;
   font-size: 15px;
}
.MuiButton-text{
   padding: 6px 15px !important;
  

}