.titulo{
    font-weight: bold;
 }
 .appbar{
background-color: #3d8f03;
 

 }
.texttabpost{
   color: rgba(255, 255, 255, 0.573) !important;
   font-weight: bold !important;
   opacity: 1 !important; 
}
.texttabpost:hover{
   color: white !important;
}
.MuiButton-text{
   padding: 6px 15px !important;
  

}