.boxprincipallistatemas{
    align-items: center;
}
.text-decorator-none{
    text-decoration: none;
}
.cardtema{
    width: 600px !important;
    background-color: rgba(255, 255, 255, 0.595) !important;
    color: black;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    padding: 20px !important;
    border-radius: 08px !important; 
    text-align: center;
    margin-top: 100px !important;
    margin-left: 30% !important;

}
.btncadtema{
    background-color: #3d8f03af !important;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
}
.btncadtema:hover{
    box-shadow: inset 0 0 0 3em #3d8f03 !important;
  

}
.btndeltema:hover{
    background-color: red !important;

}
.btndeltema{
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    background-color: rgba(255, 0, 0, 0.744) !important;
    color: white !important;
}
.MuiTypography-h5{
    margin-bottom: 20px !important;
}
.tituloTema{
    margin-bottom: 5px !important;
    color: black !important;
    font-size: 20px !important;
}
.gridPrinListTema{
    margin-bottom: 100px !important;

}