.cadastre{    
   color: #3d8f03af !important;
    font-weight: bold !important;
    text-decoration: none !important;
 }
 .cadastre:hover{
   color: #3b8903 !important;


 }
 
 .text-decorator-none{
     text-decoration: none;
 }

 .botaolgn{
    background-color: #3d8f03af !important;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
 }
 .botaolgn:hover{
    font-weight: bold;
   background-color:  #3d8f03 !important;
   
 }
 
 .fundo{
    background-image: url(https://i.imgur.com/2m766lw.jpg);
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100vh;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-position: center;
 }
 .formlogin{
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.609) !important;
        color: black;
        border: 1px solid rgb(0, 0, 0) !important;
        border-radius: 08px;
        padding: 20px;
 }