.box1{
    height: 120px;
    background-color: #3d8f03;
}

.box2{
    background-color: #3d8f03;
    height: 60px !important;

}
.textos{
    color: white !important;
}
.redes{
    height: 60px;
    margin: 0 5px;
}
.redes:hover{
    height: 80px;
}