.box1{
    height: 120px;
    background-color: #3d8f03;
}

.box2{
    background-color: #3d8f03;
    height: 60px !important;

}
.textos{
    color: white !important;
}
.redes{
   font-size: 60px;
   color:  rgba(255, 255, 255, 0.609) !important;
}
.redes:hover{
   color: white !important;
}