.caixa{
    background-color: #b9f1b3;
}

.titulo{
   color: #0e0b0bed !important;
   font-weight: bold !important;
}

.botao{
    background-color: #08d15ced !important;   
    color: rgb(39, 16, 16) !important;
    text-decoration: none;

}

.postagens{
    background-color: #03161de8;
}
.text-decorator-none{
    text-decoration: none !important;
}
.imagem2{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
