.caixa{
    background-color: #a7c957;
}

.titulo{
   color: #0e0b0bed !important;
   font-weight: bold !important;
}

.botao{
    background-color: #6a994e !important;
    color: #e9eef1e8 !important;
    text-decoration: none;

}

.postagens{
    background-color: #e9eef1e8;
}
.text-decorator-none{
    text-decoration: none !important;
}
