.delPostS{
    background-color: #3d8f03af !important;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
}
.delPostS:hover{
    font-weight: bold; 
    background-color: #3d8f03 !important;
    color: white !important;

}
.delPostN{
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    background-color: rgba(255, 0, 0, 0.744) !important;
    color: white !important;

}
.delPostN:hover{
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    background-color: red !important;
    color: white !important;

}
.boxDelPost{
    background-color: rgba(255, 255, 255, 0.595) !important;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    padding: 20px;
    border-radius: 08px;
    text-align: center;
    max-width: 500px;
}
.desejaDEL{
    font-weight: bold !important;
}
.justifyDelPost{
    text-align: center;
}