.topo{
    margin-top: 100px;
}
.formTema{
    background-color: rgba(255, 255, 255, 0.595);
    color: black;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    padding: 20px;
    border-radius: 08px;
    text-align: center;
    margin-top: 100px !important;

}
.finalizaTema{
    background-color: #3d8f03af !important;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid rgb(0, 0, 0) !important;
    margin-top: 20px !important;
}
.finalizaTema:hover{
    font-weight: bold; 
    background-color: #3d8f03 !important;
}